.container{
	width:80%;
	margin:auto;
}
.head{
	color:#7178F2;
	font-size:.8rem;
	margin-top:3rem;
}
.headPara{
	color:#032970;
	margin-top:-1rem;
}
.price{
	text-align:center;
}
.col{
	text-align:center;
	padding:2rem;
	box-shadow:8px 8px 8px 8px #eee;
}
div p{
	font-size:.8rem;
}
.gray{
	color:#7D7E8E;
}
span{
	color:#7D7E8E;
	font-size:1rem;
}
.free{
	color:#06D4BF;
}
.Starter{
	color:#7DE50D;
}
.Business{
	color:#FF901C;
}
.Ultimate{
	color:#FF0171;
}
.button{
	border:2px solid #3244F0;
	border-radius:40%;
	width:40%;
	color:#3244F0;
	font-size:.8rem;
	padding:.5rem;
}