
.main{
	background-color:#453c56;
}
.head{
	font-size:2rem;
	color:white;
	text-align:center;
	margin-top:5rem;
}
.hr{
	width:3%;
    text-align:center;
	margin-bottom:3rem;
	color:gray;
}
hr{
	color:gray;
	margin-top:2rem;
	font-size:2rem;
}
.content{
	display:flex;
	flex-direction:row;
	margin-top:3rem;
	margin-bottom:5rem;
	padding:8rem;
	margin-top:-5rem;
}
.para{
	color:white;
	text-align:center;
	width:80%;
	margin-left:9rem;
}
.item{
	width:20%;
	background-color:white;
	color:gray;
	text-align:center;
	padding:2rem;
	margin-left:3rem;
	border-radius:.5rem;
}
.icon{
	font-size:2rem;
}
p{
	font-size:.8rem;
}
h2{
	font-size:1rem;
}