.container{
	width:85%;
	margin:auto;
}
body{
	font-family:serif;
}
.navImage{
	background-image:url("img/rest.jpg"); 
	height:50rem;
	background-size:cover;
	background-attachment:fixed;
}
.date{
	display:flex;
	flex-direction:row;
	margin-left:2rem;
}
.navItems{
	display:flex;
	flex-direction:row;
	justify-content:center; 
    background-color:black;
	height:3rem;
    padding:.2rem;
	margin-top:2rem;
    display: flex;
    align-items:center;
}
.subHead{
	margin-left:4.5rem;
	font-size:.9rem;
	margin-top:2rem;
}
.subHeada{
	font-size:.9rem;
	color:white;
	margin-left:45rem;
	margin-top:1.5rem;
}
.navIcon{
	color:#CDA45E;
}
.navHead{
	width:10%;
	font-size:1.5rem;
	color:white;
	margin-right:9rem; 
	text-decoration:none;
}
.navLink{
	font-size:1rem;
	color:white;
	padding:.5rem;
	text-decoration:none;
}
#soloLink{
	color:#CDA45E;
}
.navSub{
	width:20%;
	font-size:.9rem;
	color:white;
	border:1px solid #CDA45E;
	border-radius:25rem;
	padding:.5rem;
	width:10rem;
	margin-left:6rem; 
	text-align:center;
} 
.navSub:hover{
	background-color:#CDA45E;
}
.navLink:hover{
	color:#CDA45E;
}
.imgHeads{
	display:flex;
	flex-direction:row;
	margin-top:13rem;
	margin-left:5rem;
	
}
.imgHead{
    color:white;	
}
button{
	color:white;
}
.button{
	text-decoration:none;
	font-size:.9rem;
	border:1px solid #CDA45E;
	padding:.8rem;
	border-radius:25rem;
}
.button:hover{
	background-color:#CDA45E;
}
.imgHeads h1{
	font-size:3rem;
	margin-bottom:.5rem;
}
.imgHeads h3{
	font-size:1.3rem;
	margin-bottom:1rem;
}
.youtube{
	margin-left:22rem;
	margin-top:3rem;
	font-size:5rem;
	color:white;
	background-color:orange;
	border-radius:
}
.imgContent{
	float:left;
	width:50%;
	color:white;
	margin-top:5rem;
	margin-bottom:5rem;
}
.img{
	float:right;
	width:50%;
	margin-top:5rem;
	margin-bottom:5rem;
	margin-left:5rem;
}
.content{
	display:flex;
	flex-direction:row;
}
.imgContents{
	background-image:url("img/rest2.jpg"); height:"200vh";

}
div h1{
	font-size:1.5rem;
}
div h4{
	padding:1rem;
}
.check{
	font-size:1.5rem;
	color:#CDA45E;
}
.item{
	background-color:#0C0B09;
	color:white;
	padding-top:2rem;
}
.items{
	display:flex;
	flex-direction:row;
	margin-top:2rem;
}
.chooseItem{
	background-color:#1A1814;
	margin:1rem;
	padding:3rem;
}
.chooseHead{
	color:#CDA45E;
	font-size:2.1rem;
	margin-top:.5rem;
}
.chooseItem h2,p{
	margin-top:1rem;
}
.chooseItem:hover{
	background-color:#CDA45E;
}
.chooseItem:hover .chooseHead{
	color:#fff;
}
.menu{
	background-color:#1A1814;
}
.menuHead{
	color:#898988;
	padding-top:2rem;
}
.menuLink{
	margin-top:2rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.food{
	display:flex;
	flex-direction:row;
	color:white;
	margin-top:4rem;
}
.foodItem2 h2::after{
	content:"....................................................................";
}
.foodItem1 h2::after{
	content:"....................................................................";
    color:white;	
}
.foodItem1 h2{
	color:white;
}
.foodItem1,.foodItem2 p{
	color:#595754;
	font-style:italic;
}
.foodImg{
	border:5px solid #797574;
	border-radius:50%;
}
.foodItem2{
	margin-left:5rem;
}
.imgCon{
	display:flex;
}
.imgDish{
	margin-left:-20rem;
	display:flex;
} 
.price{
	color:#CDA444;
}
.special{
	background-color:#0C0B09;
	color:white;
}
.list{
	list-style-type:none;
}
.speci{
	display:flex;
}
.speciItem{
	width:33.3%;
	margin-top:3rem;
}
.speciItem p{
	color:#A7A7A7;
}
#soloFood{
	color:white;
}
.foodLink,a{
	text-decoration:none;
	color:white;
	font-size:1.1rem;
	padding:1rem;
}
.speciItem h2{
	font-size:2rem;
}
.foodLink:hover{
	color:#CDA444;
}
.events{
	background-image:url(img/events.jpg);
	background-image:cover;
	color:white;	
	padding-bottom:5rem;
}
.party{
	display:flex;
	margin-top:3rem;
}
.partContant{
	margin-left:2rem;
}
.partyList{
	list-style-type:none;
}
.partContant h1{
	font-size:2rem;
	color:
}
.partContant h1{
	color:#CDA444;
}
.partContant p{
	font-size:1.5rem;
	text-decoration: 1.5px underline #CDA444;
}
.partContant li{
	padding:.8rem;
}
.form{
	background-color:#0C0B09;
}
.box1{
	border:1px solid gray;
	padding:1rem;
	width:27%;
	margin:1rem;
	margin-top:1.5rem;	
}
.box2{
	border:1px solid gray;
	padding:3rem;
	color:gray;
	width:88%;
	margin-left:1rem;
}
.box3{
    border:1px solid orange;
	margin-top:1rem;
	background-color:orange;
	border-radius:25%;
}

